DATABASE_URL=postgresql://user:password@localhost:5432/prode
ODDS_API_KEY_IO=
ODDS_API_IO_BASE_URL=https://api.odds-api.io/v3
ODDS_API_IO_SPORT=football
ODDS_API_IO_LEAGUE=international-fifa-world-cup
